<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../assets/smoty.css">
    <title>
        ログイン
    </title>
</head>
<body>
<header>
    <div class="container my-lg-2">
        <a href="#" type="button" class="top text-white">SMOTY</a>
    </div>
    <div class="container text-white my-lg-5">
        <div class="row">
            <div class="col-md-7 text-left">
                <div class="top2 font-weight-bold">
                    Hello, Engineer!
                </div>
                <div class="my-lg-4">
                    ここでは、一問一答形式で技術者として必要な知識を学ぶことができます。
                </div>
            </div>
            <div class="col-md-5 align-self-center">
                <p class="font-weight-bold top2 border-bottom">ユーザ登録はこちら</p>
                <form action="/signup" method="POST">
                    <div class="form-group">
                        <label for="name" class="text-left control-label">名前</label>
                        <input type="text" name="name" class="form-control"> <br>
                        <label for="password" class="text-left control-label">パスワード</label>
                        <input type="password" name="password" class="form-control"> <br>
                        <button type="submit" class="btn btn-success">登録</button>  
                    </div>
                </form>
                <p class="font-weight-bold top2 border-bottom">ログインはこちら</p>
                <form action="/login" method="POST">
                    <label for="name" class="text-left control-label">名前</label>
                    <input type="text" name="name" class="form-control"> <br>
                    <label for="password" class="text-left">パスワード</label>
                    <input type="password" name="password" class="form-control"> <br>
                    <button type="submit" class="btn btn-success">ログイン</button>
                </form>
            </div>
        </div>
    </div>
</header>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="../assets/smoty.js"></script>
</body>
</html>